/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
.flex {
    flex-direction: row;
    flex-wrap: wrap;
}

.header {
    &__search {
        display: block;
    }
}
.acount-page {
    &__inner {
        justify-content: space-between;
        width: 980px;
        border: 1px solid #ddd;
        border-radius: 5px;
        &__left {
            flex-basis: 50%;
            & > span {
                display: block;
            }
        }
        &__right {
            flex-basis: 45%;
        }
    }
}
.youtubes {
    &__item {
        flex-basis: 25%;
    }
}

.popular {
    &__container {
        justify-content: space-between;
    }

    &__item {
        flex-basis: 47%;
    }
}


.footer {
    & .logo {
        justify-content: flex-start;
    }

    &__li {
        margin-left: 0;
        margin-right: 30px;
    }
}