/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
.font-sm {
    font-size: 13px;
  }
  .font-md {
    font-size: 13px;
  }
  .font-lr {
    font-size: 17px;
  }
  .font-lg {
    font-size: 25px;
  }
  .mb-lg {
    margin-bottom: 150px !important;
  }
  .pb-lg {
    padding-bottom: 150px !important;
  }

.flex {
    flex-direction: row;
    flex-wrap: wrap;
}

.header {
    &__search {
        display: block;
    }
}

.mobile-menu {

  &__search{
    display: none;
  }

}
#content {
  background-size: cover;
}

#main-content {
  min-height: 700px;
}

.acount-page {
    &__inner {
        justify-content: space-between;
        border: 10px solid #F5F5DC;
        border-radius: 5px;
        &__left {
            flex-basis: 50%;
            & > span {
                display: block;
            }
        }
        &__right {
            flex-basis: 45%;
        }
    }
}


.messages {
    
   &__video {
      width: 500px;
      height: 280px;
    
      iframe {
        
      }
   }
   &__youtube-title {
     width: 500px;
   }

}
 

 .message {

  &__user {
    flex-basis: 22%;
    max-height: 220px;
  }
  &__inner {
    flex-basis: 65%;
    margin-left: 20px;
  }
  &__box {
    
    margin-bottom: 50px;
    
  }
  &__video {
    margin-right: 15px;
    width: 350px;
    height: 200px;
    &  iframe {
      
    }
  }
  &__messages{
    width: 285px;
    &__name {
     
    }
    &__title {
      font-size: 36px;
    }
    &__explanation {
     
      height: 80px;
      overflow: scroll;

    }
    &__btn {

    }
    &__channel {
      width: 100%;
      height: 24px;
      overflow: hidden;
    }
  }
}


.userbox {
  margin: 0 auto;
  max-width: 650px;
  padding-top: $navHeight;
  &__inner {
    justify-content: space-between;
    margin-bottom: 35px;
  }
  &__left {
    &__icon {
    
      & > img {
        display: block;
        margin: 0 auto;
      }
    }
  }
  &__name {
    text-align: none;
  }
  &__right {
    width:300px;
    margin: 0;
  }


}





.footer {
    & .logo {
        justify-content: flex-start;
    }

    &__li {
        margin-left: 0;
        margin-right: 30px;
    }
}