/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}
.font-lr {
  font-size: 17px;
}
.font-lg {
  font-size: 25px;
}

.mb-lg {
  margin-bottom:150px !important;
}

.pb-lg {
  padding-bottom:150px !important;
}