// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Helpers

 img {
   max-width: 100%;
   vertical-align: bottom;
 }
 .font-sm {
   font-size: 14px;
 }
 .font-md {
   font-size: 17px;
 }
 .font-lr {
   font-size: 17px;
 }
 .font-lg {
   font-size: 25px;
 }
 .mb-sm {
   margin-bottom: 16px !important;
 }
 .mb-lg {
   margin-bottom: 80px !important;
 }
 .pb-sm {
   padding-bottom: 16px !important;
 }
 .pb-lg {
   padding-bottom: 80px !important;
 }
 .content-width {
   width: 90%;
   margin: 0 auto;
   max-width: $contentMaxWidth;
 }
 .main-title {
   @extend .font-lg;
   font-weight: 600;
   margin-bottom: 0;
   display: block;
 }
 .sub-title {
   @extend .font-sm;
   color: $cSubTitle;
 }
 .flex {
   display: flex;
   flex-direction: column;
 }
 .purple {
   color: $cRed;
 }


@mixin clearfix {
   &:after {
      content: "";
      display: flex;
      clear: both;
  }
}

.align-center {
   text-align: center;
}

// Grid
.row {
   @include clearfix;
   .col {
      padding: 0 20px;
      box-sizing: border-box;
      &.x-50 {
         width: 50%;
      }
      &.x-100 {
         width: 100%;
      }
   }
}


.messages {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  background-color: #222222;
  border-radius: 5%;
  @extend .content-width;
  &__title {
     text-align: center;
     text-transform: uppercase;
     letter-spacing: 3px;
     color: #F5F5DC;
     padding-top: 24px;
  }
  &__video {
    width: 320px;
    height: 180px;
    margin: 0 auto;
    &  iframe {
      width: 100%;
      height: 100%;
    }
  
  }
  &__youtube-title {
    width: 320px;
    margin: 0 auto;
  }
}


.message {
  @extend .flex;
  @extend .content-width;
  padding-top: $navHeight;
  &__user {
    padding: 15px;
    border-radius: 2%;
    background-color: #fdfdfd;
    padding-bottom: 8px;
    max-height: 160px;
    &.user__info {
      padding-bottom: 8px;
    }
    &__icon {
      float: left;
      height: 80px;
      width: 80px;
      border-radius: 50%;
    }
    &__pro {
      /* float: left; */
      padding-top: 15px;
      font-size: 20px;
      color: #333;
    }
  }
  &__inner {
    padding: 0 15px;
    padding-bottom: 10px;
    background-color: #fdfdfd;
    border-radius: 2%;
    height: 600px;
    overflow: scroll;
  }
  &__posts {
    list-style: none;
    padding: 0;
  }
  &__post {
    overflow: hidden;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    & > .user-icon{
      float: left;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      margin-right: 10px;
      margin-top: 5px;
    }
    & > .youtube-icon {
      float: right;
      width: 200px;
      height: 117px;
    }
    &__timestamp {
      color: #808080;
      display: block;
      margin-left: 60px;
      &__left {
  
      }
      &__right {
        float: right;
        margin-right: 15px;
      }
    }
  }
  &__name {
    font-size: 13px;
    color: $cSubTitle;
    display: inline;

  }
  &__titles {
    margin-top: 8px;
    color: #333;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    & > a {
      margin: 15px 0;
      color: #333;
      font-size: 20px;
      text-align: left;
      text-decoration: none;
    }
  }
  &__box {
    max-width: 650px;
    margin: 0 auto;
    position: relative;
    background-color: #222222;
    border-radius: 2%;
  }
  &__title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #F5F5DC;
    padding-top: 24px;
    font-size: 22px;
  }
  &__video {
    width: 320px;
    height: 180px;
    margin: 0 auto;
    &  iframe {
      width: 100%;
      height: 100%;
    }
  
  }
  &__youtube-title {
    width: 320px;
    margin: 0 auto;
    font-size: 20px;
  }
  &__menu {
    float: right;
    cursor: pointer;
    > a {
      font-size: 15px;
      color: $cSubTitle;
      text-decoration: none;
    }
    > i {
      font-size: 15px;
      color: $cSubTitle;
      margin-left: 10px;
    }
  }
}


.contact-form {
  .form-field {
     position: relative;
     margin: 32px 0;
     & > a {
       text-decoration: none;
       color: $cSubTitle;
     }
  }
  .input-text {
     display: block;
     width: 100%;
     height: 36px;
     border-width: 0 0 2px 0;
     border-color: #F5F5DC;
     font-size: 18px;
     line-height: 26px;
     font-weight: 400;
     background-color: #222222;
     color: #F5F5DC;
     &:focus {
        outline: none;
     }
     
     &:focus,
     &.not-empty {
        + .label {
           transform: translateY(-24px);
        }
     }
  }
  .label {
     position: absolute;
     left: 20px;
     bottom: 11px;
     font-size: 18px;
     line-height: 26px;
     font-weight: 400;
     color: #F5F5DC;
     cursor: text;
     transition: transform .2s ease-in-out;
  }
  
  .submit-btn {
     display: inline-block;
     background-color: #000;
     color: #fff;
     text-transform: uppercase;
     letter-spacing: 2px;
     font-size: 16px;
     line-height: 24px;
     padding: 8px 16px;
     border: none;
     cursor: pointer;
  }
  
}
