/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

img {
  max-width: 100%;
  vertical-align: bottom;
}
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 17px;
}
.font-lr {
  font-size: 17px;
}
.font-lg {
  font-size: 25px;
}
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}
.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}
.main-title {
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
  display: block;
  color: $cSubTitle;
}
.sub-title {
  @extend .font-sm;
  color: $cSubTitle;
}
.flex {
  display: flex;
  flex-direction: column;
}
.purple {
  color: $cRed;
}

#user-content {
  margin-top: 100px;
}

#user-main-content {
  position: relative;
  z-index: 0;
}


.acount-page {
  @extend .content-width;
  @extend .mb-lg;
  padding-top: $navHeight;
  &__inner {
    background-color: #333333;
    margin: 0 auto 60px ;
    padding: 60px;
    @extend .flex;
    &__left {
      
      & > span {
        display: block;
        & > a {
          background-color:  #F5F5DC;
        }
    }
    }
    &__right{

      &__icon {
        & > .sub-title {
          text-align: center;
        }
        &__input {
          overflow: hidden;
          margin: auto;
          width: 180px;
          height: 180px;
          border-radius: 100px;
          border: 1px solid $cBgGray;
          overflow: hidden;
          position: relative;

          &__btn {
            position: absolute;
            top: 0;
            width: 180px;
            height: 180px;
            border-radius: 100px;
            font-size: 0px;
            opacity: 0;
            cursor: pointer;
          }
        }
        
      }
    }
    &:after {
      clear: both;
      content: "";
      display: block;
    }
  }

  .account-page__header {
    h2 {
      margin-bottom: 10px;
      letter-spacing: 3px;
      font-size: 40px;
      font-weight: 200;

      &:after {
        content: '';
        display: block;
        width: 300px;
        margin-top: 5px;
        border-bottom: 1px solid $cSubTitle;
      }
    }

    h5 {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 200;
    }

    .btn {
      margin-top: 20px;
      color: #fff;
      background-color: silver;
      font-size: 14px;
    }
  }

  .field {
    margin-bottom: 10px;

    .field-label {
      padding: 10px 0;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 200;
      color: #F5F5DC;
      i {
        font-size: 11px;
      }
    }

    .field-input {
      input {
        width: 100%;
        padding: 10px;
        letter-spacing: 1px;
        background-color: #F5F5DC;
      }
      textarea {
        width: 100%;
        padding: 10px;
        letter-spacing: 1px;
        background-color: #F5F5DC;
      } 
    }
  }

  .btn {
    display: inline-block;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    border-radius: 2px;
  }

  input[type='submit'] {
    float: left;
    margin-top: 20px;
    color: black;
    background-color: #F5F5DC;
    font-weight: bold;
    font-size: 20px;
  }

  .field-label {
    
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }

  .field-input {
    color: #F5F5DC;
    .field_with_errors {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}


.icon-image {
  width: 200px;
  height: 200px;
  //サイズ指定
  border-radius: 100px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
  background-color: #F5F5DC;
}


.userbox {
  margin: 0 auto;
  max-width: 650px;
  padding-top: $navHeight;
  border-bottom: 1px solid #F5F5DC;
  &__name {
    color: $cSubTitle;
  }
  &__inner {
    @extend .flex;
    margin-bottom: 25px;

  }
  &__left {
    &__icon {
      margin-top: 10px;
      & > img {
        display: block;
        margin: 0 auto;
      }
    }
  }
  &__right {
    margin: 0 auto;
  }
  &__edit {
    & > i {
      color: $cSubTitle;

      & > a {
        text-decoration: none;
        color: $cSubTitle;
      }
    }
  }
  &__channel {
    width: 100%;
    height: 24px;
    overflow: hidden;
  }
  &__other {
    & > strong {
      color: $cSubTitle;
    }
    & > a {
      color: $cSubTitle;
      text-decoration: none;
    }
  }
  &__follow-btn {
    & > .follow_form {
      & > form {
        & > input {
          background-color: $cSubTitle;
          color: #222222;
        }
      }
    }
  }
}

