// Place all the styles related to the youtubes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: "Kameron", "Noto Sans JP", sans-serif;
  background-color: #003A43;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 17px;
}
.font-lr {
  font-size: 17px;
}
.font-lg {
  font-size: 25px;
}
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}
.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}
.main-title {
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
  display: block;
  color: #F5F5DC;
}
.sub-title {
  @extend .font-sm;
  color: $cSubTitle;
}
.flex {
  display: flex;
  flex-direction: column;
}
.purple {
  color: $cRed;
}

#content {
  margin-top: 100px;
  background-image: image-url("bg1.jpg");
  background-size: auto;
}
#main-content {
  position: relative;
  z-index: 0;
  background: rgba(255,255,255,0.1);
}

main {
  position: relative;
  z-index: -1;
}

#container {
  position: relative;
  z-index: 10;
  transition: transform 0.5s, box-shadow 0.5s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navHeight;
  background-color: transparent;
  display: flex;
  align-items: center;
  z-index: 100;

  &.triggered {
    background-color: #003A43;
    box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
  }
  &__search {
    display: none;
    &__box {
      box-sizing: border-box;
      position: relative;
      border: 1px solid $cSubTitle;
      display: block;
      padding: 3px 10px;
      border-radius: 20px;
      height: 2.3em;
      width: 265px;
      overflow: hidden;
    }
    &__word{
      border: none;
      height: 2.0em;
      background-color: #003A43;
      color: $cSubTitle;
    }
    &__word:focus{
      outline: 0;
    }
    &__submit {
      cursor: pointer;
      border: none;
      background: $cBlack;
      color: $cWhite;
      position: absolute;
      width: 3.5em;
      height: 3.0em;
      right:0px;
      top: -3px;
      outline : none;
    }
    
  }
  &__nav {
    display: none;
  }

  &__ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__li {
    margin-left: 20px;
    
    & > a {
      color: $cSubTitle;
      text-decoration: none !important;
      text-transform: uppercase;
    }
  }

  & .logo {
    font-size: 38px;
    justify-content: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .content-width;
  }
}

.tween-animate-title{
  margin: 0 0 15px 0; 
}
.youtubes {
  @extend .content-width;
  padding-top: 50px;
  &__inner {
    overflow: scroll;
    height: 774px;
    @extend .flex;
    justify-content: space-between;
  }
  &__userinner {
    @extend .flex;
    justify-content: space-between;
  }
  &__item {
    margin-bottom: 20px;
  }
  &__box {
    background-color: #222222;
    border-radius: 5%;
    width: 320px;
    height: 100%;
    &  iframe {
      width: 100%;
      height: 180px;
      border-radius: 5% 5% 0 0;
    }
  }
  &__description {
    
    height: 60px;
    overflow: scroll;
  }
  &__channel {
    width: 100%;
    height: 24px;
    overflow: hidden;
    color: #F5F5DC;
  }
  &__btn {
    display: flex;
    font-weight: 600;
    cursor: pointer;
    color: $cWhite;
    text-align: center;
    border-radius: 0 0 5% 5%;
    &__post {
      background-color: black;
      border: 1px solid black;
      padding: 10px;
      flex-basis: 50%;
      border-radius: 0 0 0 5%;
      & > a {
        text-decoration: none !important;
        color: #F5F5DC;
        font-size: 13px;
        padding: 10px; 
        position: relative;
        bottom: 0;
      }
    }
    &__playlist {
      background-color: pink;
      border: 1px solid pink;
      flex-basis: 50%;
      padding: 10px;
      position: relative;
      bottom: 0;
      border-radius: 0 0 5% 0;
      & > a {
        text-decoration: none !important;
        color: #F5F5DC;
        font-size: 13px;
      }
    }  
    &__userplaylist {
      background-color: pink;
      border: 1px solid pink;
      flex-basis: 100%;
      padding: 10px;
      position: relative;
      bottom: 0;
      border-radius: 0 0 5% 0;
      & > a {
        text-decoration: none !important;
        color: #F5F5DC;
        font-size: 13px;
      }
    }
  }
  
}



.logo {
  font-size: 42px;
  display: flex;
  &__muscle {
    & > a { 
      color: $cSubTitle;
      text-decoration: none;
    }
  }
  &__gram {
    @extend .purple;
    & > a { 
      @extend .purple;
      text-decoration: none;
    }
  }
}

.footer {
  @extend .content-width;

  &__nav {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__ul {
    @extend .flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__li {
    padding: 0;
    margin: 10px;

    & > a {
      color: $cSubTitle;
    }
  }

  & .logo {
    font-size: 38px;
    justify-content: center;
  }
  &__copyright{
    color: $cSubTitle;
  }
}

