<%= form_with url: user_likes_path(current_user, @message), remote: true do |f| %>
  <%= f.hidden_field :message_id, :value => @message.id %>
  <%= button_tag type: 'submit', class: "like_button" do %>
    <i class="far fa-lg fa-heart heart"></i>
    <span class="like_count like"><%= @message.like_users.count %></span>
  <% end %>
<% end %>