<%= form_with url: user_like_path(current_user,@message), method: "delete", remote: true do |f| %>
  <%= f.hidden_field :message_id, :value => @message.id %>
  <%= button_tag type: 'submit', class: "like_button" do %>
    <i class="fas fa-heart fa-lg heart_red"></i>
    <span class="like_count liked"><%= @message.like_users.count %></span>
  <% end %>
<% end %>
