<% @messages.each do |message| %>
  <div> 
    <%= message.youtube.channel_title %>
  </div> 
  
  <div>
    <iframe width="356" height="200" src="https://www.youtube.com/embed/<%= message.youtube.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>
  <div>
    <%= message.title %>
  </div>

  <div>
    <%= message.explanation%>
  </div>
<% end %>