<%= form_for @youtube,:url => {controller: "youtubes", action: "new"} do |f| %>
    <h1>Submit</h1>
    
    <%= f.text_field :channel_title, class: 'form-control' %>
    <%#= f.label :password, 'password' %>
    <%#= f.password_field :password, class: 'form-control' %>
    <%#= f.label :confirm, 'password_confirmation' %>
    <%#= f.password_field :confirm, class: 'form-control' %>
    <%#= f.file_field :image %>
    <%#= f.submit '新規登録'%>
<% end %>
