<div id="content">
  <div id= "main-content">
    <div class="youtubes appear up">
      <div>
        <h2 class="main-title tween-animate-title">Find Your Videos</h2>
      </div>
      <div class="youtubes__inner">
        <% if @youtubes.blank? %>
          <div class="result-none alert item ">
            <%= flash[:alert] %>
          </div>
        <% else %>
          <% @youtubes.items.each do |item| %>
            <% @snippet = item.snippet %>
            <% @video_id = item.id.video_id %>
            <div class="youtubes__item appear up">
              <div class= "youtubes__box item">
                <iframe class="youtube"data-src="https://www.youtube.com/embed/<%= @video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="youtubes__channel">
                  <%= @snippet.channel_title  %> 
                </div>
                <div class="youtubes__description sub-title">
                  <%= @snippet.title%>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>